* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 20px;
}

.search-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.search-input {
  padding: 10px 20px;
  width: 350px;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid black;
}

textarea:focus,
input:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 350px;
  position: absolute;
  top: 60px;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul li {
  width: inherit;
  text-align: center;
  list-style: none;
  padding: 10px;
  border: 1px solid lightgray;
  display: flex;
}

ul li:hover,
ul li.selected {
  cursor: pointer;
  background: lightblue;
}

.product h2 {
  font-size: 18px;
}

.product p {
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
  .search-input {
    width: 100%;
    font-size: 20px;
  }

  ul {
    width: 100%;
    top: 55px;
  }

  .product h2 {
    font-size: 16px;
  }

  .product p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 10px;
  }

  .search-input {
    width: 100%;
    font-size: 18px;
  }

  ul {
    width: 100%;
    top: 50px;
    max-height: 200px;
  }

  ul li {
    padding: 8px;
  }

  .product h2 {
    font-size: 24px;
    font-style: Arial;
  }

  .product p {
    line-height: 2rem;
    font-size: 18px;
  }
  .product img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
